<h1>Trim Coding Challenge</h1>

<%= render 'form' %>


<!-- JQuery Below -->

<script type="text/javascript">
 $(function() {

  //  Show Instructions
  $('#user_fullname').on('blur', function() {
     var Instructions = "Welcome ";
     Instructions += $(this).val();
     Instructions += "<br>From Instructions:";
     Instructions += "<Br><ul><li>Step 1: Enter your basic info</li>";
     Instructions += "<li>Step 2: You have 50 points available</li>";
     Instructions += "<li>Step 3: Use the points to rate yourselsf on the skills listed </li>";
     Instructions += "</ul>";

     $('.field' ).eq(0).append( "<br><br><div style='background-color:#c2f0c2;width:35vw;'>" + Instructions + "</div>" )
  });

  // Run Points Calculation
   var INITIAL_POINTS = 50;

       $('#user_oop').on('blur', function() {
           var $points_oop = $('#user_oop').val();
           $points_remaining = INITIAL_POINTS - $points_oop;
          console.log($points_remaining);
          $('.field' ).eq(4).append( "<p>Points Remaining: " + $points_remaining + "</p>" )

       });

       $('#user_modular').on('blur', function() {
           var $points_modular = $('#user_modular').val();
          $points_remaining =  $points_remaining - $points_modular;
          console.log($points_remaining);
          $('.field' ).eq(5).append( "<p>Points Remaining: " + $points_remaining + "</p>" )

       });

       $('#user_stack').on('blur', function() {
           var $points_stack = $('#user_stack').val();
          $points_remaining =  $points_remaining - $points_stack;
          console.log($points_remaining);
          $('.field' ).eq(6).append( "<p>Points Remaining: " + $points_remaining + "</p>" )

       });




 });
</script>
